body {
    display: grid;
    height: 100vh;
    width: 100vw;
    place-content: center;
}

.merge {
    display: flex;
    column-gap: 1vw;
}


.main {
    display: grid;
    place-items: center;
    text-align: center;
}

.score {
    border: 2px solid black;
    height:fit-content;
    padding: 30px;
    min-width: 15vw;
}



#board {
    width: 45vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 25vh 25vh 25vh;
}

.box {
    background-color: bisque;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
}

.box.taken {
    pointer-events: none;
}

@media only screen and (max-width: 900px) {
    .merge {
        flex-direction: column-reverse;
        row-gap: 2rem;
    }
    #board {
        width: 90vw;
        height: 45vh;
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 15vh 15vh 15vh;
    }
}